<!-- Help center title -->
            <div id="main-hero" class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered pt-40">
                        <div class="column"></div>
                        <div class="column is-9">
                            <div class="help-header">
                                <a href=""><img src="https://strictcity.live/jobshare/assets/images/logos/square-white.svg" alt=""></a>
                                <h1 class="title is-4">Jobshare Center</h1>
                            </div>
                            <br>
                            <form role="search" action="/jobs" method="get">
                                <input name="utf8" type="hidden" value="&#x2713;" />
                                <div class="help-search-wrapper">
                                <input type="text" name="search" id="search" placeholder="Web Developer">
                                <i class="fa fa-search"></i>
                            </div>
                            </form>
                        </div>
                        <div class="column"></div>
                    </div>
                </div>
            </div>
            <!-- /Help center title -->