<title>Jobshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="assets/images/favicon.png" />
        <!-- Core css -->
        <link rel="stylesheet" id="bulma" href="https://strictcity.live/jobshare/assets/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="https://strictcity.live/jobshare/assets/css/core_lemonade.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,500,600,700&amp;subset=latin-ext" rel="stylesheet">

        <!-- Plugins css -->
        <link rel="stylesheet" type="text/css" href="https://strictcity.live/jobshare/assets/js/ggpopover/ggtooltip.css">
        <!-- Icons -->
        <link rel="stylesheet" type="text/css" href="https://strictcity.live/jobshare/assets/css/icons.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">